In [6]:
import pandas as pd
from io import StringIO
Data='{"employee_name": "James", "email": "james@gmail.com","job_profile": [{"title1":"Team Lead", "title2":"Sr.Developer"}]}'
df=pd.read_json(StringIO(Data))

In [7]:
df

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr.Developer'}"

In [8]:
df.to_json()

'{"employee_name":{"0":"James"},"email":{"0":"james@gmail.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Sr.Developer"}}}'

In [9]:
df.to_json(orient='index')

'{"0":{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr.Developer"}}}'

In [10]:
df.to_json(orient='records')

'[{"employee_name":"James","email":"james@gmail.com","job_profile":{"title1":"Team Lead","title2":"Sr.Developer"}}]'

In [12]:
pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data")

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

In [13]:
df.head()

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr.Developer'}"

In [14]:
df.to_csv("wine.csv")

In [15]:
!pip install lxml

Collecting lxml
  Downloading lxml-5.3.1-cp312-cp312-win_amd64.whl.metadata (3.8 kB)
Downloading lxml-5.3.1-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   -- ------------------------------------- 0.3/3.8 MB ? eta -:--:--
   ----- ---------------------------------- 0.5/3.8 MB 1.2 MB/s eta 0:00:03
   -------- ------------------------------- 0.8/3.8 MB 1.2 MB/s eta 0:00:03
   -------- ------------------------------- 0.8/3.8 MB 1.2 MB/s eta 0:00:03
   ---------- ----------------------------- 1.0/3.8 MB 1.1 MB/s eta 0:00:03
   ------------- -------------------------- 1.3/3.8 MB 1.0 MB/s eta 0:00:03
   ------------- -------------------------- 1.3/3.8 MB 1.0 MB/s eta 0:00:03
   ---------------- ----------------------- 1.6/3.8 MB 902.1 kB/s eta 0:00:03
   ------------------- -------------------- 1.8/3.8 MB 915.0 kB/s eta 0:00:03
   ------------------- -------------------- 1.8/3.8 MB 915.0 kB/s eta 0:00:03
   ------------------------ --------------- 2.4/3.8 MB 972.7 kB/s eta 0:00:02
   ------------------------ --------------- 2.4/3.8 MB 972.7 kB/s eta 0:00:02
   ------------------------ --------------- 2.4/3.8 MB 972.7 kB/s eta 0:00:02
   ------------------------ --------------- 2.4/3.8 MB 972.7 kB/s eta 0:00:02
   --------------------------- ------------ 2.6/3.8 MB 807.4 kB/s eta 0:00:02
   --------------------------- ------------ 2.6/3.8 MB 807.4 kB/s eta 0:00:02
   ------------------------------ --------- 2.9/3.8 MB 806.6 kB/s eta 0:00:02
   ------------------------------ --------- 2.9/3.8 MB 806.6 kB/s eta 0:00:02
   -------------------------------- ------- 3.1/3.8 MB 792.0 kB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 798.8 kB/s eta 0:00:01
   ----------------------------------- ---- 3.4/3.8 MB 798.8 kB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 803.9 kB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.1

In [17]:
!pip install html5lib
!pip install beautifulsoup4

Requirement already satisfied: html5lib in c:\data analyst bootcamp\venv\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\data analyst bootcamp\venv\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in c:\data analyst bootcamp\venv\lib\site-packages (from html5lib) (0.5.1)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.13.3-py3-none-any.whl.metadata (3.8 kB)
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading soupsieve-2.6-py3-none-any.whl.metadata (4.6 kB)
Collecting typing-extensions>=4.0.0 (from beautifulsoup4)
  Downloading typing_extensions-4.12.2-py3-none-any.whl.metadata (3.0 kB)
Downloading beautifulsoup4-4.13.3-py3-none-any.whl (186 kB)
Downloading soupsieve-2.6-py3-none-any.whl (36 kB)
Downloading typing_extensions-4.12.2-py3-none-any.whl (37 kB)
Installing collected packages: typing-extensions, soupsieve, beautifulsoup4
Successfully installed beautifulsoup4-4.13.3 soupsieve-2.6 typing-extensions-4.12.2

In [19]:
url="https://www.fdic.gov/bank-failures/failed-bank-list"
df=pd.read_html(url)

In [20]:
df[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
1,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
2,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
3,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
4,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
5,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
6,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
7,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
8,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538
9,First City Bank of Florida,Fort Walton Beach,Florida,16748,"United Fidelity Bank, fsb","October 16, 2020",10537

In [36]:
 !pip install openpyxl

Requirement already satisfied: openpyxl in c:\data analyst bootcamp\venv\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\data analyst bootcamp\venv\lib\site-packages (from openpyxl) (2.0.0)

In [37]:
pd.read_excel('data.xlsx')

FileNotFoundError: [Errno 2] No such file or directory: 'data.xlsx'

In [39]:
pd.read_pickle('df_excel')

FileNotFoundError: [Errno 2] No such file or directory: 'df_excel'

In [42]:
 pd.read_pickle('df_excel')

FileNotFoundError: [Errno 2] No such file or directory: 'df_excel'