In [54]:
import sqlite3

In [55]:
##connect to SQLite database
connection=sqlite3.connect('example.db')
connection

In [58]:
## create function to new SQLITE3 database named test.db

import sqlite3

def create_database():
    conn= sqlite3.connect('test.db')
    conn.close()
    print("Database created and successfully connected.")

    create_database()

In [61]:
##write python function to create named employees, id, age,department
def create_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees (  
        id INTEGER PRIMARY KEY,
        name TEXT PRIMARY KEY,      
        age INTEGER,   
        department TEXT
        )
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' created successfully.") 

    create_table()

In [62]:
##new employee insert onto employees table
def insert_employee(id,name,age,department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
      INSERT INTO employees (id,name,age,department)
      VALUES(?,?,?,?)
    ''', (id,name,age,department))
    conn.commit()
    conn.close()
    print("Employee inserted successfully.")

    insert_employee(1,'Alice',30,'HR')

In [63]:
##Insert empployees in table
insert_employee(2,'Bob',25,'Engineering')
insert_employee(3,'Ronak',32, 'Sales')
insert_employee(4,'David',25,'Marketing')
insert_employee(5,'Eve',45,'HR')

OperationalError: no such table: employees

In [46]:
## fetch and display all records from employee table
def fetch_employee():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employee')
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

    fetch_all_employees()

In [47]:
##fetch all employee and display all employee in specific department

def fetch_employees_by_department(department):
    conn=sqlite3.coonect('test.db')
    cursor = conn.cursor()
    cursor.excute('SELECT * FROM employee WHERE department = ?', (department,))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

        fetch_employees_by_department('Engineering')

In [48]:
##update department of an employee based on their id
def update_employee_department(employee_id, new_department):
    conn = sqlite3.connect('test.db')
    cursor=conn.cursor()
    cursor.execute('''
        UPDATE employees
        SET department = ?
         WHERE id = ?
''',(new_department,employee_id))
    conn.commit()
    conn.close()
    print("Employee department updated successsfully.")

    update_employee_department(1,'Finanace')

In [49]:
##update the department atleast 2 employee and update it 
update_employee_department(2,'Research')
update_employee_department(3,'Customer Support')

fetch_all_employees()

OperationalError: no such table: employees

In [64]:
##delete an employee from employees table based on id
def delete_employee(employee_id):
    conn= sqlite3.connect('test.db')
    cursor=conn.cursor()
    cursor.execute('''
DELETE FROM employees
 WHERE id = ?
''', (employee_id,))
    conn.commit()
    conn.close()
    print("Employee deleted Successfully.")
    delete_employee(5)

In [ ]:
#delete atleast one employee
delete_employee(4)
 
#Fetch and display all records
fetch_all_employees()

OperationalError: no such table: employees

:

In [1]:
def fetch_employees_older_than(age):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE age > ?', (age,))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

        fetch_employees_older_than(25)

In [2]:
def fetch_employees_name_starts_with(letter):
    conn = sqlite3.connect('test.db')
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?', (letter + '%',))
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)


        fetch_employees_name_starts_with('A')

In [5]:
def create_departments_table():
    conn = sqlite3.connect('test.db')
    cursor = conn .cursor()
    cursor.execute('''
      CREATE TABLE IF NOT EXISTS departments (
         id INTEGER PRIMARY KEY,
                   name TEXT NOT NULL
    )
''')
conn.commit()
conn.close() 
print("Table 'departments' created successfully.")

create_departments_table()

NameError: name 'conn' is not defined

In [6]:
def insert_multiple_employees(employees):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
INSERT INTO employees (id,name,age , department)
    VALUES(?,?,?,?)                       
''', employees)
        conn.commit()
        print("All employees inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

        employees = [
            (6,'Frank',40,'Finance'),
            (7, 'Grace', 29 , 'Engineering'),
            (8, 'Hannah',35, 'Marketing'),
            (9, 'Ivan', 38, 'sales'),
            (6, 'Jack', 45, 'HR' )
        ]

        insert_multiple_employees(employees)

In [7]:
def create_index_on_name():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('CREATE INDEX idx_name ON employees(name)')
    conn.commit()
    conn.close()
    print("Index on 'name' column created successfully.")

    create_index_on_name()

In [8]:
import shutil 
def backup_database():
    shutil.copy('test.db','backup.db')
    print("Database backed up successfully.")

    backup_database()

In [9]:
def restore_database():
    shutil.copy('backup.db', 'test.db')
    print("Database restored successfully.")

    restore_database()

In [ ]:
def create_table():
    conn =